<?xml version="1.0"?>
<launch>

  <node name="racecar_3_with_safety" pkg="cytron_jetracer" type="racecar_with_safety_3.py"
    output="screen"/>

  <node name="sensor_publishing" pkg="cytron_jetracer" type="publish_sensors_Battery_IMU_Encoder.py"
    output="screen"/>

  <node name="gamepad" pkg="cytron_jetracer" type="steer_step.py"
    output="screen"/>

</launch>
