<launch>
  	<include 
		file="$(find lidar_ros)/launch/X4.launch">
  	</include>
  	<include 
		file="$(find apriltag_ros)/launch/continuous_detection.launch">
  	</include>

	<node
		pkg="auto_jetracer"
		type="lidar_process"
		name="lidar_process2_node" >
	</node>

	<node
		pkg="auto_jetracer"
		type="Demo_controller.py"
		name="Demo_controller_node" >
	</node>

	<node
		pkg="auto_jetracer"
		type="racecar_with_safety_2_LYONS.py"
		name="racecar2_node" >
	</node>


</launch>
